h1 {
  margin-top: 0;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141D2F;
  z-index: 1;
  padding: 200px 0 100px 100px;
  overflow-x: clip;
}

.main-left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.below-main-left {
  display: flex;
  flex-direction: column;
  gap: 50px;

  div {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: flex-start;
  }
}

.main-right {
  display: flex;
  position: relative;
  justify-content: center;
}

.main-photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
}

.about-border-div {
  border: 2px solid #00BEE8;
  height: 0;
  width: 30%;
  z-index: 1;
}

.main-photo {
  border: 4px solid #00BEE8;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  min-width: 20vw;
  min-height: 20vw;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  object-position: 35% 100%;
  z-index: 1;
}

.blur-img {
  position: absolute;
  right: -650px;
  height: 1000px;
  bottom: -300px;
}

@media (max-width: 1400px) {

  .main {
    padding: 200px 0 100px 20px;
  }

  .main-left {
    width: 45%;
  }
}

@media (max-width: 1250px) {
  .main-photo-wrapper {
    width: 45%;
  }

  .main-photo {
    width: 35vw;
    height: 35vw;
    min-width: 20vw;
    min-height: 20vw;
    max-width: 350px;
    max-height: 350px;
  }

  .about-border-div {
    width: 20%;
  }
}

@media (max-width: 1000px) {

  p {
    max-width: 500px;
  }

  .main {
    padding: 200px 20px 100px 20px;
  }

  .main-left {
    width: 100%;
    z-index: 2;
  }

  .main-photo-wrapper {
    width: 0;
  }

  .main-photo {
    display: none;
  }

  .about-border-div {
    display: none;
  }

  .blur-img {
   bottom: -500px;
  }
}

@media (min-width: 1930px) {
  .main {
    padding: 200px 300px;
  }

  .main-left {
    width: 50%;
  }

  .main-photo-wrapper {
    margin-right: -300px
  }

  .about-border-div {
    width: 30%;
  }

  .blur-img {
    right: -400px;
  }
}
