<div id="aboutMe" class="main">
  <div class="main-left">
    <div>
      <h1>About me</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus enim, quod maxime harum modi quaerat eaque
        odio
        molestias omnis nobis aliquam voluptatibus quasi consequatur accusantium saepe suscipit consequuntur laborum
        quia!
      </p>
    </div>

    <div class="below-main-left">
      <div>
        <img style="margin: 0 9px;" src="/assets/img/hint.png" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates veniam quisquam officia nisi cum
          veritatis, est unde voluptatem quam consequatur facilis suscipit rem nobis tempore illum velit, maxime fugiat
          deserunt?</p>
      </div>
      <div>
        <img src="/assets/img/puzzle.png" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates veniam quisquam officia nisi cum
          veritatis, est unde voluptatem quam consequatur facilis suscipit rem nobis tempore illum velit, maxime fugiat
          deserunt?</p>
      </div>
    </div>
  </div>
  <div class="main-photo-wrapper">
    <img class="main-photo" src="/assets/img/pm_small.png" alt="">
    <div class="about-border-div"></div>
    <img class="blur-img" src="/assets/img/Purple shadow.png" alt="">
  </div>
</div>
