<div id="aboutMe" class="main">
  <div data-aos-duration="1000" data-aos="fade-right" class="main-left">
    <div>
      <h1>About me</h1>
      <p>Greetings! I'm Patrizio Marzullo, an experienced Frontend Developer from Detmold. With a strong foundation in
        web development, my passion for technology and software has always been a driving force in my life. The decision
        to embark on the path of a Frontend Developer felt like a natural and logical progression for me.
      </p>
    </div>
    <div class="below-main-left">
      <div>
        <img style="margin: 0 9px;" src="assets/img/hint.png" alt="">
        <p>
          For the past 20 years, I have also nurtured my interest in building custom PCs, fueled by my fascination with
          technology (hard- and software). It enhances my ability as a Frontend Developer to create websites that not
          only look visually stunning but also perform optimally for the best user experience.
        </p>
      </div>
      <div>
        <img src="assets/img/puzzle.png" alt="">
        <p>
          I have a profound love for software development, as it empowers me to transform ideas into reality through
          coding. The process of solving intricate problems and witnessing the tangible impact of my work brings me
          immense joy. The ever-evolving nature of the software development field serves as a constant source of
          inspiration, providing endless opportunities for learning and growth.
        </p>
      </div>
    </div>
  </div>
  <div data-aos-duration="1000" data-aos="fade-left" class="main-photo-wrapper">
    <img class="main-photo" src="assets/img/pm_small.png" alt="">
    <div class="about-border-div"></div>
    <img class="blur-img" src="assets/img/Purple shadow.png" alt="">
  </div>
</div>
