header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  padding: 10px 100px 0 100px;
  justify-content: space-between;
  background: #141D2F;
  height: 110px;

  a {
    z-index: 1;
  }

  a img {
    height: 70px;
  }
}

.menu-right {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: -24px;
  min-height: 70px;
  transform: translateX(0px);
}

.menu-right-responsive {
  display: none;
}

.menu-mirror-div {
  display: flex;
  flex-direction: column;

  a {
    white-space: nowrap;
    font-style: italic;
    font-size: 24px;
    padding: 0 5px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 0px solid #00bee800;

    &:hover {
      transition: all 0.1s ease-in-out;
      border-bottom: 3px solid #00bee8;
      color: #00BEE8;
    }
  }

  span {
    font-style: italic;
    font-size: 24px;
    -o-transform: scaleY(-1);
    transform: rotateX(210deg) translateX(5px);
    mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(rgba(0, 0, 0, 0.66)));
    -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(rgba(0, 0, 0, 0.66)));
    height: 100%;
    color: rgba(255, 255, 255, 0.66);
    margin-top: -6px;
    opacity: 1;
    transition: all 1.0s ease-in-out;
  }

  .opacity-zero {
    opacity: 0;
    color: #00BEE8;
    transition: all 0.3s ease-in-out;
  }
}

.show {
  transform: translateX(0px)!important;
  transition: all 0.2s ease;
}

.bar1 {
  transition: all 0.2s ease;
  transform: rotate(0deg) translate(0px, 0px);
}

.bar2 {
  transform: scaleX(1);
  transition: all 0.2s ease;
}

.bar3 {
  transition: all 0.2s ease;
  transform: rotate(0deg) translate(0px, 0px);
}

.rotate-45deg {
  transform: rotate(45deg) translate(10px, 9px);
  transition: all 0.2s ease;

}

.width-zero {
  transform: scaleX(0);
  transition: all 0.2s ease;
}

.rotate--45deg {
  transition: all 0.2s ease;
  transform: rotate(-45deg) translate(9px, -8px);
}

@media (max-width: 1400px) {
  header {
    padding: 10px 10px 0 10px;
  }
}

@media (max-width: 1250px) {
  header a img {
    height: 60px;
    margin-top: -12px;
  }

  .menu-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 150px 0 250px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 100vw;
    width: 400px;
    height: 100vh;
    background: var(--style-1-syle-1-a-green-purple-blue-transparency, rgba(20, 29, 47, 0.98));
    transition: all 0.2s ease;
    transform: translateX(400px);
  }

  .menu-right-responsive {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 30px;
    top: 25px;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease;
  }

  .menu-mirror-div {
    height: 68px;
    width: fit-content;
  }
}

@media (min-width: 1930px) {
  header {
    padding: 10px 300px 0 300px;
  }

  .menu-mirror-div {
    a {
      font-size: 36px;
    }

    span {
      font-size: 36px;
    }
  }
}
