header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  padding: 10px 100px 0 100px;
  justify-content: space-between;
  background: #141D2F;
  height: 110px;

  a img {
    height: 70px;
  }
}

.menu-right {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: -24px;
  min-height: 70px;
}

.menu-mirror-div {
  display: flex;
  flex-direction: column;

  a {
    white-space: nowrap;
    font-style: italic;
    font-size: 24px;
    padding: 0 5px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 0px solid #00bee800;

    &:hover {
      transition: all 0.1s ease-in-out;
      border-bottom: 3px solid #00bee8;
      color: #00BEE8;
    }
  }

  span {
    font-style: italic;
    font-size: 24px;
    -o-transform: scaleY(-1);
    transform: rotateX(210deg) translateX(5px);
    mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(rgba(0, 0, 0, 0.66)));
    -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(rgba(0, 0, 0, 0.66)));
    height: 100%;
    color: rgba(255, 255, 255, 0.66);
    margin-top: -6px;
    opacity: 1;
    transition: all 1.0s ease-in-out;
  }

  .opacity-zero {
    opacity: 0;
    color: #00BEE8;
    transition: all 0.3s ease-in-out;
  }
}

@media (min-width: 1930px) {
  header {
    padding: 10px 300px 0 300px;
  }

  .menu-mirror-div {
    a {
      font-size: 36px;
    }

    span {
      font-size: 36px;
    }
  }
}
