header {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 10px 120px;
  justify-content: space-between;
  background: #141D2F;
  backdrop-filter: blur(32.5px);

  img {
    height: 90px;
    margin-right: 15px;
  }
}

.menu-logo {
  display: flex;
  flex-direction: column;

  >img {
    -o-transform: scaleY(-1);
    transform: rotateX(210deg) translateY(10px);
    -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(15%, transparent), to(rgba(250, 253, 48, 0.66)));
  }

  >a img {
    padding-bottom: 5px;
    border-bottom: 2px solid #00BEE8;
    box-shadow: 0px 8px 6px -6px #00bee8;
  }
}

.menu-left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-height: 50px;
}

.menu-para-div {
  display: flex;
  flex-direction: column;

  a {
    white-space: nowrap;
    font-style: italic;
    font-size: 24px;
    padding: 0 5px;
    background-image: linear-gradient(to right,
        #545454 0,
        #8b8b8b 5%,
        #d3d3d3 45%,
        #ececec 50%,
        #e1e1e1 55%,
        #b3b3b3 95%,
        #656565 100%);
    color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    border-bottom: 2px solid #00BEE8;
    box-shadow: 0px 8px 6px -6px #00bee8;


    &:hover {
      // transform: translateX(5px);
      // border-bottom: 3px solid #00BEE8;
      transition: all 0.1s ease-in-out;
      background-image: linear-gradient(to right,
          #003f4d 0,
          #006c84 5%,
          #00add3 45%,
          #00BEE8 50%,
          #00BEE8 55%,
          #0084a2 95%,
          #003e4b 100%);
      box-shadow: 0px 8px 6px -6px #00bee800;
    }
  }

  span {
    font-style: italic;
    font-size: 24px;
    -o-transform: scaleY(-1);
    transform: rotateX(210deg) translateX(5px);
    -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(15%, transparent), to(rgba(250, 253, 48, 0.66)));
    background-image: linear-gradient(to right,
        #545454 0,
        #8b8b8b 5%,
        #d3d3d3 45%,
        #ececec 50%,
        #e1e1e1 55%,
        #b3b3b3 95%,
        #656565 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: -4px;
    opacity: 1;
    transition: all 1.0s ease-in-out;
    // box-shadow: 5px 5px 15px 5px #00BEE8, 5px 5px 15px 5px #00BEE8 inset;

  }

  .opacity-zero {
    opacity: 0;
    color: #00BEE8;
    transition: all 0.4s ease-in-out;
  }
}
