<div id="topPage" style="opacity: 0; z-index: -1;"></div>
<header>
  <a href="#topPage"><img src="/assets/img/PM_logo_transp.png" alt=""></a>
  <div class="menu-right">
    <div class="menu-mirror-div">
      <a (mouseover)="vanishAbout.classList.add('opacity-zero')"
        (mouseout)="vanishAbout.classList.remove('opacity-zero')" href="#aboutMe">About Me</a>
      <span #vanishAbout>About Me</span>
    </div>
    <div class="menu-mirror-div">
      <a (mouseover)="vanishProjects.classList.add('opacity-zero')"
        (mouseout)="vanishProjects.classList.remove('opacity-zero')" href="#skills">Skills</a>
      <span #vanishProjects>Skills</span>
    </div>
    <div class="menu-mirror-div">
      <a (mouseover)="vanishImprint.classList.add('opacity-zero')"
        (mouseout)="vanishImprint.classList.remove('opacity-zero')" routerLink="/imprint">Imprint</a>
      <span #vanishImprint>Imprint</span>
    </div>
    <div class="menu-mirror-div">
      <a (mouseover)="vanishDataProt.classList.add('opacity-zero')"
        (mouseout)="vanishDataProt.classList.remove('opacity-zero')" routerLink="/data-protection">Data protection</a>
      <span #vanishDataProt>Data protection</span>
    </div>
  </div>
</header>
