img {
  position: absolute;
  left: -420px;
  top: 120px;
  width: 1200px;
}

h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 100%;
  color: white;
  border-bottom: 3px solid #00BEE8;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto 50px;
  white-space: nowrap;
  padding-top: 150px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: white;
  margin: 0;
  white-space: nowrap;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #141D2F;
  z-index: 1;
  padding: 150px 100px;
  overflow: hidden;
}

.border-div {
  border: 3px solid #4B47FF;
  width: 100px;
  margin-top: 150px;
  border-radius: 0 3px 3px 0;
  height: 0;
}

.contact-headline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #141D2F;
}

.form-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35%;
  padding-left: 50px;
  z-index: 1;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  max-width: 650px;
  gap: 35px;
  transition: all 150ms ease-in-out;

  input,
  textarea {
    display: flex;
    height: 50px;
    padding: 15px 25px;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--style-1-style-1-b-blues-blues-1, #4B47FF);
    background: var(--style-1-syle-1-a-green-purple-blue-bg, #141D2F);
    transition: all 150ms ease-in-out;
    box-shadow: 0 0 2px 1px #4B47FF, inset 0 0 2px 1px #4B47FF;
    color: white;
    font-size: 16px;

    &:hover {
      border: 1px solid var(--style-1-style-1-b-blues-green, #00BEE8);
      transition: all 150ms ease-in-out;
      box-shadow: 0 0 3px 1px #00BEE8, inset 0 0 3px 1px #00BEE8;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.25);
      font-size: 16px;
      line-height: 120%;
    }

    &:focus {
      outline: none;
      border: 1px solid var(--style-1-style-1-b-blues-green, #E61C40);
      transition: all 150ms ease-in-out;
      box-shadow: 0 0 3px 1px #E61C40, inset 0 0 3px 1px #E61C40;
    }

    &:-webkit-autofill,
    -webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }

  textarea {
    height: 200px;
  }

  .valid-border {
    border: 1px solid var(--style-1-style-1-b-blues-green, #70E61C)!important;
    box-shadow: 0 0 3px 1px #70E61C, inset 0 0 3px 1px #70E61C!important;
  }

  .invalid-border {
    border: 1px solid var(--style-1-style-1-b-blues-green, #E61C40)!important;
    box-shadow: 0 0 3px 1px #E61C40, inset 0 0 3px 1px #E61C40!important;
  }

  button {
    border: none;
    padding: 15px 30px;
    background: #00BEE8;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    width: 290px;
    text-align: start;

    &:hover {
      background: #4B47FF;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 150ms ease-in-out;
      transform: scale(1.1);
    }

    span {
      box-shadow: none;
      margin-left: 10px;
      transition: all 250ms ease-in-out;
    }
  }
}

.sent-message {
  position: absolute;
  top: 40%;
  right: 10%;
  background: #4B47FF;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: auto;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  white-space: nowrap;
  padding: 15px;
  transform: scale(0);
  transition: all 150ms ease-in-out;
  z-index: 1;
}

.label {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: cover;

  &:nth-child(2) {
    right: 20px;
    top: 12px;
  }

  &:nth-child(4) {
    right: 20px;
    top: 98px;
  }

  &:nth-child(6) {
    right: 20px;
    top: 183px;
  }
}

.valid {
  background-image: url('^assets/img/correct.png');
}

.invalid {
  background-image: url('^assets/img/error.png');
}

.opacity-zero-smilie {
  animation: rotate 0.5s forwards;
}

@media (min-width: 1930px) {
  .main {
    padding: 200px 300px;
  }

  .border-div {
    width: 300px;
  }
}
