<div id="contact" class="contact-headline">
  <div class="border-div"></div>
  <h1>Contact</h1>
</div>
<div class="main">
  <img src="assets/img/blur_contact.png" alt="">
  <div class="form-description">
    <h3>Got a problem to solve?</h3>
    <p>Contact me through this form. I'am interested in hearing you, knowing your ideas and contributing to your
      projects with my work.
      <br>
      <br>
      Need a Frontend Developer? <b>Contact me!</b>
    </p>
  </div>
  <form method="POST" (submit)="sendMail()" ngNativeValidate #myForm>
    <input (keyup)="checkNameValidationIcon()" #nameField required placeholder="Your name" name="name" type="text">
    <label #labelName class="label" for="nameField"></label>
    <input (keyup)="checkEmailValidationIcon()" #emailField required placeholder="Your email" name="email" type="email">
    <label #labelEmail class="label" for="emailField"></label>
    <textarea (keyup)="checkMessageValidationIcon()" #messageField required placeholder="Your Message" name="message"
      id="" cols="30" rows="10"></textarea>
    <label #labelMessage class="label" for="messageField"></label>
    <button #sendButton>Send message</button>
  </form>
</div>
