.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141D2F;
  padding: 250px 100px 150px 100px;
  overflow-x: clip;
}

.skills-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  width: 60%;
  height: 500px;
  min-height: 300px;
  z-index: 2;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
  margin: -20px 0;
  z-index: 2;

  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: white;
    text-align: center;
  }
}

.skills-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 35%;
  height: 400px;
}

.skills-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
  text-align: end;
  gap: 30px;

  h1 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    padding: 15px 30px;
    background: #00BEE8;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    margin-right: 100px;

    &:hover {
      background: #4B47FF;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 150ms ease-in-out;
      transform: scale(1.1);
    }
  }
}

.skills-button-div {
  display: flex;
  align-items: center;
  margin-right: -100px;
}

.skills-border-div {
  border: 3px solid #4B47FF;
  width: 100px;
  height: 0px;
  border-radius: 4px 0 0 4px;
}

.skills-blur {
  position: absolute;
  left: 0;
  top: 350px;
  z-index: 1;
}

@media (max-width: 1250px) {
  .skills-description button {
    margin-right: 0;
  }

  .skills-border-div {
    border-radius: 0;
  }

  .skills-wrapper {
    width: 20px;
  }
}

@media (max-width: 1000px) {

  p {
    max-width: 500px;
  }

  .main {
    padding: 0px 20px 150px 20px;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 0;
  }

  .skills-left {
    max-width: 550px;
    width: 100%;
    justify-content: flex-end;
    gap: 65px;
    height: 350px;
    svg {
      width: 45px;
    }
  }

  .skills-wrapper {
    width: 50px;
    span {
      font-size: 14px;
    }
  }

  .skills-right {
    width: 100%;
    height: 550px;
  }

  .skills-button-div {
    margin-right: 0;
    transform: translateY(780px);
  }

  .skills-border-div {
    display: none;
  }

  .skills-description {
    z-index: 2;
    height: unset;
    width: 100%;
    align-items: center;

    h1 {
      position: absolute;
      top: -40px;
      right: 0;
    }

    p {
      position: absolute;
      right: 0;
      top: 50px;
    }

    button {
      padding: 15px 20px;
      font-size: 20px;
    }
  }
}

@media (max-width: 500px) {
  .skills-left {
    justify-content: center;
  }
}

@media (min-width: 1930px) {

  .main {
    padding: 250px 300px 150px 300px;
  }

  .skills-border-div {
    width: 300px;
  }

  .skills-button-div {
    margin-right: -300px;
  }
}
