h1 {
  margin: auto 50px;
}

.main-headline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141D2F;
  overflow: hidden;
  height: 300px;
  padding-top: 120px;
}

.portfolio-description {
  text-align: center;
  width: 100%;
  padding: 20px 25vw 0 32vw;
  margin: 0;
  background-color: #141D2F;

}

.left-border-div {
  border: 3px solid #4B47FF;
  width: 100px;
  border-radius: 3px 0 0 3px;
  height: 0;
}

.right-border-div {
  border: 3px solid #4B47FF;
  width: 50%;
  margin-right: -50%;
  height: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141D2F;
  padding: 75px 100px;
  overflow-x: clip;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10%;
  margin: 100px 0;
  z-index: 1;

  img {
    width: 500px;
  }
}

.project-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 45%;
  max-width: 700px;
  padding: 30px 0;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #4B47FF;
    margin: 0;
  }

  span {
    font-size: 23px;
    line-height: 120%;
    color: #00BEE8;
  }

  p {
    position: relative;
    margin-left: 0;
    text-align: left;
  }
}

.project:nth-child(2),
.project:nth-child(4) {
  flex-direction: row-reverse;
}

.project-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 50px;

  button {
    padding: 15px 30px;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 58px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    cursor: pointer;
    transition: all 100ms ease-in-out;

  }

  button:nth-child(1) {
    background: #4B47FF;
    border: none;

    &:hover {
      background: #00BEE8;
      transition: all 150ms ease-in-out;
    }
  }

  button:nth-child(2) {
    background: none;
    border: 1px solid #00BEE8;

    &:hover {
      background: #00BEE8;
      transition: all 150ms ease-in-out;
    }
  }
}

.blur-img-1 {
  position: absolute;
  opacity: 0.7;
  top: 100px;
  right: -550px;
}

.blur-img-2 {
  position: absolute;
  left: -200px;
  bottom: 400px
}

@media (min-width: 1930px) {

  h3 {
    font-size: 48px !important;
  }

  span {
    font-size: 32px !important;
  }

  .main {
    padding: 200px 300px;
  }

  .project {
    img {
      width: 700px;
    }
  }

  .project-description-wrapper {
    max-width: 1000px;
  }
}
