<div id="portfolio" class="main-headline">
  <div class="left-border-div"></div>
  <h1 data-aos-duration="1000" data-aos="fade-down">Portfolio</h1>
  <div class="right-border-div"></div>
</div>
<p data-aos-duration="1000" data-aos="fade-down" class="portfolio-description">Welcome to my portfolio website, where you can explore a curated collection of my work.
  This section showcases a diverse range of projects that highlight my skills and expertise as a Frontend Developer. I
  invite you to browse through these examples to gain insight into the quality and creativity I bring to each project.
</p>
<div class="main">
  <div class="project">
    <img src="assets/img/pf_join.png" alt="">
    <div class="project-description-wrapper">
      <div data-aos-offset="400" data-aos-duration="1000" data-aos="fade-down" class="project-description">
        <h3>Join</h3>
        <span>JavaScript | HTML | CSS | Git</span>
        <p>Task manager inspired by the Kanban System. Create and organize tasks using smooth drag and drop functions, and
          assign users and categories.</p>
        <div data-aos-offset="200" data-aos-duration="1000" data-aos="fade-up" class="project-buttons">
          <a href="https://patriziomarzullo.de/join/index.html" target="_blank">
            <button class="button-test">Live test</button>
          </a>
          <a href="https://github.com/Real-istic/Join" target="_blank">
            <button class="button-git">Github</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <img src="assets/img/pf_arcanistica.png" alt="">
    <div class="project-description-wrapper">
      <div data-aos-offset="400" data-aos-duration="1000" data-aos="fade-down" class="project-description">
        <h3>Arcanistica</h3>
        <span>JavaScript | HTML Canvas | CSS</span>
        <p>A Platformer Game based on an object-orientated approach. Fight your way against Goblins and Medusas to
          engage the Endboss at the end of the Level. Strategically utilize Health Potions and Mana Crystals to enhance
          your survival chance, otherwise you can't stand a chance against this overwhelming Endboss!</p>
        <div data-aos-offset="200" data-aos-duration="1000" data-aos="fade-up" class="project-buttons">
          <a href="https://patriziomarzullo.de/arcanistica/index.html" target="_blank">
            <button class="button-test">Live test</button>
          </a>
          <a href="https://github.com/Real-istic/Arcanistica" target="_blank">
            <button class="button-git">Github</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <img src="assets/img/pf_happypokedex.png" alt="">
    <div class="project-description-wrapper">
      <div data-aos-offset="400" data-aos-duration="1000" data-aos="fade-down" class="project-description">
        <h3>Happy PokeDex</h3>
        <span>JavaScript | API | HTML | CSS</span>
        <p>An API-based PokeCard Search website, allowing you to search for over 1000 Pokémon. The integration with the
          Poke-API provides a wealth of information about the extensive range of Pokémon. Please note that due to high
          demand, there may be occasional slow loading times during certain periods of the day.</p>
        <div data-aos-offset="200" data-aos-duration="1000" data-aos="fade-up" class="project-buttons">
          <a href="https://patriziomarzullo.de/happypokedex/index.html" target="_blank">
            <button class="button-test">Live test</button>
          </a>
          <a href="https://github.com/Real-istic/Happy-PokeDex" target="_blank">
            <button class="button-git">Github</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <img src="assets/img/pf_nightcityclub.png" alt="">
    <div class="project-description-wrapper">
      <div data-aos-offset="400" data-aos-duration="1000" data-aos="fade-down" class="project-description">
        <h3>Night City Club</h3>
        <span>Angular | JavaScript | Firebase | HTML | CSS</span>
        <p>Welcome to Night City Club, a multiplayer game with discussions about the stories you've experienced within the
          Cyberpunk 2077 world while playing with your friends online. With the power of Firebase, every game state is
          stored, allowing you to pick up right where you left off using a unique game ID.</p>
        <div data-aos-offset="200" data-aos-duration="1000" data-aos="fade-up" class="project-buttons">
          <a href="https://night-city-87573.web.app/" target="_blank">
            <button class="button-test">Live
              test</button>
          </a>
          <a href="https://github.com/Real-istic/Night-City-Club" target="_blank">
            <button class="button-git">Github</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <img class="blur-img-1" src="assets/img/blur_port_1.png" alt="">
  <img class="blur-img-2" src="assets/img/blur_port_2.png" alt="">
</div>
