<div class="main-headline">
  <div class="left-border-div"></div>
  <h1>Portfolio</h1>
  <div class="right-border-div"></div>
  <p>This page is a Sample of my Work - feel free to try them out :)</p>
</div>
<div class="main">
  <div class="project">
    <img src="/assets/img/laptop.jpg" alt="">
    <div class="project-description-wrapper">
      <div class="project-description">
        <h3>Join</h3>
        <span>JavaScript | HTML | CSS | Git</span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quidem ipsam fugiat earum maiores. Dignissimos, suscipit iure dolorum expedita quas ipsa enim, odio ullam iusto sint, veritatis facere fugiat tempora.</p>
      </div>
      <div class="project-buttons">
        <button class="button-test">Live test</button><button class="button-git">Github</button>
      </div>
    </div>
  </div>
  <div class="project">
    <img src="/assets/img/laptop.jpg" alt="">
    <div class="project-description-wrapper">
      <div class="project-description">
        <h3>Arcanistica</h3>
        <span>JavaScript | HTML Canvas | CSS</span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quidem ipsam fugiat earum maiores. Dignissimos, suscipit iure dolorum expedita quas ipsa enim, odio ullam iusto sint, veritatis facere fugiat tempora.</p>
      </div>
      <div class="project-buttons">
        <button class="button-test">Live test</button><button class="button-git">Github</button>
      </div>
    </div>
  </div>
  <div class="project">
    <img src="/assets/img/laptop.jpg" alt="">
    <div class="project-description-wrapper">
      <div class="project-description">
        <h3>Happy PokeDex</h3>
        <span>JavaScript | API | HTML | CSS</span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quidem ipsam fugiat earum maiores. Dignissimos, suscipit iure dolorum expedita quas ipsa enim, odio ullam iusto sint, veritatis facere fugiat tempora.</p>
      </div>
      <div class="project-buttons">
        <button class="button-test">Live test</button><button class="button-git">Github</button>
      </div>
    </div>
  </div>
  <div class="project">
    <img src="/assets/img/laptop.jpg" alt="">
    <div class="project-description-wrapper">
      <div class="project-description">
        <h3>Night City Club</h3>
        <span>Angular | JavaScript | Firebase | HTML | CSS</span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quidem ipsam fugiat earum maiores. Dignissimos, suscipit iure dolorum expedita quas ipsa enim, odio ullam iusto sint, veritatis facere fugiat tempora.</p>
      </div>
      <div class="project-buttons">
        <button class="button-test">Live test</button><button class="button-git">Github</button>
      </div>
    </div>
  </div>
</div>
